.message-body{
    height: 65vh;
    overflow-y: scroll;
    overflow-x:hidden;
    scrollbar-width: thin;
}

.chat-you {


    border-radius: 15px 15px 0px 15px;
    display: table;
    background-color: aquamarine;
    margin-top: 10px;
    min-width: 50px;
    height: auto;
    width: auto;
    margin-left: auto;
    padding: 10px 20px 10px 20px;
    text-align: end;
}
.chat-you p{
    text-align:justify;
}
.chat-you h6{
    font-size: 10px;
}
.chat-other {
    border-radius: 15px 15px 15px 0px;
    display: table;
    width: auto;
    min-width: 50px;
    margin-right: auto;
    background-color: coral;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;

}
.chat-other h6{
    font-size: 10px;
}
