
.loginpage-body {
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;
}
.loginpage-card {
  
    padding: 20px;
    width: 400px;
}
.loginpage-card input {
    margin: 5px;
    margin-right: 10px;
    width: 98%;
}
.loginpage-card button {
  
    margin-left: 5px;
}


.homepage-body {
    overflow-y: auto;
    max-height: 70vh;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.list-contact-body{

    scrollbar-width: thin;
    overflow-y: auto;
    max-height: 80vh;
}






.contact-container{
    max-width: 120px;

}
.contact-container:hover {
    opacity: 0.6;
}
.contact-container p {
    padding-left: 30px;
    display: inline-block; 
    max-width: 90%;
    height: 20px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.active{
    opacity: 0.6;
    border-left: solid;
    border-color: aqua;

}



.clearTypingStatus {
    animation: cssAnimation 0s 5s forwards;
    visibility: visible;
  }
  
  @keyframes cssAnimation {
    to   { visibility: hidden; }
  }